@model RandomMovieGenerator.Models.Movie

@{
    string trailerUrl = Model.Trailer;
    string embedUrl = "";

    if (!string.IsNullOrEmpty(trailerUrl))
    {
        string videoId = "";

        if (trailerUrl.Contains("watch?v="))
        {
            videoId = trailerUrl.Split(new[] { "watch?v=" }, StringSplitOptions.None).Last();
            if (videoId.Contains("&"))
            {
                videoId = videoId.Split('&')[0];
            }
        }
        else if (trailerUrl.Contains("youtu.be/"))
        {
            videoId = trailerUrl.Split(new[] { "youtu.be/" }, StringSplitOptions.None).Last();
            if (videoId.Contains("?"))
            {
                videoId = videoId.Split('?')[0];
            }
        }

        if (!string.IsNullOrEmpty(videoId))
        {
            embedUrl = $"https://www.youtube.com/embed/{videoId}";
        }
    }
}




@if (Model != null)
{
    <div class="container mt-5">
        <h3 class="text-center mb-4">The film you should watch is...</h3>
        <div class="row align-items-center gx-4">
            <div class="col-md-12 d-flex justify-content-center" id="poster-wrapper">
                <img data-bs-toggle="modal" style="cursor: pointer; max-height: 300px;" src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid rounded mb-3" id="slikaVoPrikaz" />
               
            </div>
            <div class="col-md-12 d-flex justify-content-center" >
                <button data-bs-toggle="modal" class="button1" id="trailerButton" data-bs-target="#trailerModal">Watch the Trailer</button>
            </div>

        </div>
        <div class="col-12 col-md-5 mx-auto text-center mt-3">
            <p><strong>Title:</strong> @Model.Name</p>
            <p><strong>Genre:</strong> @Model.Genre</p>
            <p><strong>Release Year:</strong> @Model.ReleaseYear</p>
            <p><strong>Duration:</strong> @Model.Duration mins</p>
            <p><strong>Rating:</strong> @Model.Rating/5</p>
        </div>


        <div class="text-center col-12 d-flex justify-content-center gap-2 flex-wrap mt-3">
            @using (Html.BeginForm("AddToWatchlist", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Name)
                @Html.HiddenFor(m => m.Genre)
                @Html.HiddenFor(m => m.ImageUrl)
                @Html.HiddenFor(m => m.ReleaseYear)
                @Html.HiddenFor(m => m.Duration)
                @Html.HiddenFor(m => m.Rating)
                @Html.HiddenFor(m => m.Trailer)

                <button type="submit" class="button1">Add to Watchlist</button>
            }

            <form asp-action="Index" asp-controller="Home" method="post">
                <input type="hidden" name="Genre" value="@Model.Genre" />
                <button type="submit" class="button1">Try Another Movie</button>
            </form>


            @using (Html.BeginForm("Watched", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Name)
                @Html.HiddenFor(m => m.Genre)
                @Html.HiddenFor(m => m.ImageUrl)
                @Html.HiddenFor(m => m.ReleaseYear)
                @Html.HiddenFor(m => m.Duration)
                @Html.HiddenFor(m => m.Rating)
                @Html.HiddenFor(m => m.Trailer)

                <button type="submit" class="button1">Add to Watched</button>
            }


        </div>
        <div class="col-12 d-flex justify-content-center align-items-center mt-3">
            <a href="@Url.Action("Index", "Home")">Try Another Genre</a>
        </div>
    </div>
}
else
{
    <p class="text-center mt-5">@ViewBag.Message</p>
}

<div class="modal fade" id="trailerModal" tabindex="-1" aria-labelledby="trailerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trailerModalLabel">Trailer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ratio ratio-16x9">
                    <iframe id="trailerFrame" src="@embedUrl" title="YouTube trailer" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        const trailerUrl = "@embedUrl";

        const trailerModal = document.getElementById('trailerModal');
        const trailerFrame = document.getElementById('trailerFrame');

        trailerModal.addEventListener('show.bs.modal', function () {
            trailerFrame.src = trailerUrl;
        });

        trailerModal.addEventListener('hidden.bs.modal', function () {
            trailerFrame.src = "";
        });

    </script>
}
